<p>Merhaba <%= @user_name %>,</p>

<p><b>OSAP İhale Sistemi şifre yenilemesi talebinde bulunduğunuz için bu e-postayı görmektesiniz.
    Eğer böyle bir talebiniz olmadıysa bu e-postayı dikkate almayınız.</b></p>

<p>Şifrenizi değiştirmek için aşağıdaki linki kullanabilirsiniz.</p>

<p><a href="http://<%= HOST %>/welcome/forget_password?key=<%=@request_code%>">http://<%= HOST %>/welcome/forget_password?key=<%=@request_code%></a></p>

<p>
Saygılarımızla,<br>
OSAP Yönetimi
</p>