<% if @user.status_id == Status::User::VALPENDING %>
  <div class="blankBar">
    <h1>Dikkat!</h1>
    <p>İhale şu anda "<b><%= @user.status.name %></b>" durumunda. E-postanıza gelen onay koduna tıkladığınızda üyeliğiniz onaylanacak ve sistem yöneticileri üyeliğinizi onaylayabilecektir.</p>
  </div>
<% end %>
<% if @user.status_id == Status::User::VALIDATED %>
  <div class="blankBar">
    <h1>Dikkat!</h1>
    <p>İhale şu anda "<b><%= @user.status.name %></b>" durumunda. Sistem yöneticileri üyeliğiniz aktif hale getirdikten sonra sistemi bütün özellikleri ile kullanmaya başlayabilirsiniz.</p>
  </div>
<% end %>
<h1>Kullanıcı Düzenleme</h1>

<% form_for :user, :url => { :action=>"update", :id => @user } do |f| %>
  <%= f.error_messages %>

<div class="section">
  <h2>Temel Bilgiler</h2>
  <div class="container">
    <div class="label">Ad Soyad: </div>
    <div class="value"><%= f.text_field :contact_name %></div>
    <div class="label">Kullanıcı Adı: </div>
    <div class="value"><%= @user.name %></div>
    <div class="label">E-posta: </div>
    <div class="value"><%= @user.email %></div>
    <div class="label">Kullanıcı Tipi: </div>
    <div class="value"><%= @user.user_type.name %></div>
    <div class="label">Yönetici: </div>
    <div class="value"><%= @user.admin ? "Evet" : "Hayır" %></div>
    <div class="label">Durum: </div>
    <div class="value"><%= @user.status.name %></div>
  </div>
</div>

  <div class="buttons">
    <%= image_submit_tag("save.gif") %>
    <%=link_to image_tag("cancel.gif"), :action=>:show, :id=> @user %>
  </div>
<% end %>

<div class="section">
  <h2>Firma Bilgileri</h2>
  <div class="container">
    <div class="label">Firma Adı: </div>
    <div class="value"><%= @company.name %></div>
    <div class="label">Durum: </div>
    <div class="value"><%= @company.status.name %></div>
  </div>
</div>
<div class="buttons">
  <%= link_to image_tag("back.gif"), :action => :show, :id=> @user %>
</div>
